@font-face {
    font-family: "normal";
    src: url("https://miguelcrl7.github.io/SplatNet/web/assets/fonts/font-medium.woff") format("woff");
}

@font-face {
    font-family: "light";
    src: url("https://miguelcrl7.github.io/SplatNet/web/assets/fonts/font-medium.woff") format("woff");
}

@font-face {
    font-family: "extra-light";
    src: url("https://miguelcrl7.github.io/SplatNet/web/assets/fonts/font-medium.woff") format("woff");
}

* {
    font-family: "normal";
}

h1 {
    color: white;
    font-size: 38px;
    font-family: extra-light;
    margin-left: 8px;
    margin-top: 14px;
}

h2 {
    color: white;
    font-size: 28px;
    font-family: extra-light;
    margin-left: 8px;
    margin-top: 8px;
    text-align: center;
}



p1 {
    color: #177188;
    font-size: 20px;
    font-family: normal;
    margin-left: 0px;
    text-align: left;
}

p2 {
    color: #ffffff;
    font-size: 18px;
    font-family: normal;
    text-align: center;
}

.home-bar {
    z-index: 3;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 8%;
    width: 100%;
    background-color: black;

}

.test_menu {
    position: absolute;
    bottom: 100px;
    right: 100px;
    height: 40px;
    width: 40px;
}


.Alert {
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 50px;
    height: 8%;
    width: 40%;
    background-color: darkslategray;
    border-radius: 16px;
}

.home-menu {
    object-fit: contain;
    position: fixed;
    height: 88%;
    width: 18%;
    bottom: 46%;
    left: 1%;
    background-color: #a2a2a2a2;
    transform: translate(0%, 50%);
    border-radius: 8px;
    overflow: hidden;
}
.menu-user {
    object-fit: contain;
    position: fixed;
    height: 8%;
    width: 90%;
    top: 2%;
    left: 50%;
    background-color: #27272772;
    transform: translate(-50%, 0%);
    border-radius: 14px;
    overflow: hidden;
}

.menu-user-photo {
    z-index: 2;
    object-fit: contain;
    position: fixed;
    height: 90%;
    bottom: 50%;
    left: 1%;
    border-radius: 50%;
    transform: translate(0%, 50%);
}

.home-button {
    object-fit: contain;
    position: fixed;
    height: 6%;
    width: 80%;
    top: 12%;
    left: 50%;
    background-color: #0c2742f2;
    transform: translate(-50%, 0%);
    border-radius: 8px;
    overflow: hidden;
}

.settings-button {
    object-fit: contain;
    position: fixed;
    height: 6%;
    width: 80%;
    top: 20%;
    left: 50%;
    background-color: #0c2742f2;
    transform: translate(-50%, 0%);
    border-radius: 8px;
    overflow: hidden;
}

.end {
    z-index: 1;
    position: absolute;
    right: 0%;
    height: 16%;
    width: 100%;
    background-color: black;
    color: white;
}
